.bash_history
.bash_logout
.cache/
Desktop/
Downloads/
.local/
.npm/
timeshift/
.viminfo
.Xauthority
yay-git/
.pki/
.gnupg/
.mozilla/
.bash_profile
.config/BraveSoftware/
.config/configstore/
.config/dconf/
.config/pavucontrol.ini
.config/pulse/
dmenu/
.config/Code/
.config/chromium/
.config/coc/
.config/nvim/
.pylint.d/
.python_history
.vim/
.vscode/
projects/
Pictures/
.config/deepin/
.deepin-screen-recorder/

